{
  "extends": ["react-app"],
  "rules": {
    "no-console": "warn",
    "react-hooks/exhaustive-deps": [
      "error",
      {
        "enableDangerousAutofixThisMayCauseInfiniteLoops": true
      }
    ]
  }
}
