{
  "extends": "react-app",
  "rules": {
    "no-console": "warn",
    "no-alert": "warn",
    "react-hooks/exhaustive-deps": "error",
    "sort-keys": [
      "warn",
      "asc",
      { "caseSensitive": true, "natural": false, "minKeys": 2 }
    ]
  }
}
